.header {
    width: 100%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #7e5222;
}

.header-logo-text{
    font-family: 'DM Serif Display';
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 13%;
}

.header-text{
    width: auto;
    white-space: nowrap;

}


.header-pages {
    width: 55%;
    display: flex;
}

.header-pages>ul{
    list-style-type: none;
    font-family: Jost;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.header-pages>ul>li{
    margin-right: 10%;
}